.masthead {
    height: 100vh;
    min-height: 500px;
    background:  linear-gradient(to left , rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)) , url('./img/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}